<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/host">
	<p>hostName：<input type="text" name="hostName"/></p>
    <p>ca：<input type="file" name="ca"/></p>
    <p>cert：<input type="file" name="cert"/></p>
     <p>key：<input type="file" name="key"/></p>
    <p><input type="submit" value="上传"/></p>
</form>
</body>
</html>