<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shijinshi.fabricmanager.dao.mapper.SecretMapper" >
  <resultMap id="BaseResultMap" type="cn.shijinshi.fabricmanager.dao.entity.Secret" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="question1" property="question1" jdbcType="VARCHAR" />
    <result column="answer1" property="answer1" jdbcType="VARCHAR" />
    <result column="question2" property="question2" jdbcType="VARCHAR" />
    <result column="answer2" property="answer2" jdbcType="VARCHAR" />
    <result column="question3" property="question3" jdbcType="VARCHAR" />
    <result column="answer3" property="answer3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, question1, answer1, question2, answer2, question3, answer3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from secret
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from secret
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.shijinshi.fabricmanager.dao.entity.Secret" >
    insert into secret (user_id, question1, answer1, 
      question2, answer2, question3, 
      answer3)
    values (#{userId,jdbcType=VARCHAR}, #{question1,jdbcType=VARCHAR}, #{answer1,jdbcType=VARCHAR}, 
      #{question2,jdbcType=VARCHAR}, #{answer2,jdbcType=VARCHAR}, #{question3,jdbcType=VARCHAR}, 
      #{answer3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.shijinshi.fabricmanager.dao.entity.Secret" >
    insert into secret
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="question1 != null" >
        question1,
      </if>
      <if test="answer1 != null" >
        answer1,
      </if>
      <if test="question2 != null" >
        question2,
      </if>
      <if test="answer2 != null" >
        answer2,
      </if>
      <if test="question3 != null" >
        question3,
      </if>
      <if test="answer3 != null" >
        answer3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="question1 != null" >
        #{question1,jdbcType=VARCHAR},
      </if>
      <if test="answer1 != null" >
        #{answer1,jdbcType=VARCHAR},
      </if>
      <if test="question2 != null" >
        #{question2,jdbcType=VARCHAR},
      </if>
      <if test="answer2 != null" >
        #{answer2,jdbcType=VARCHAR},
      </if>
      <if test="question3 != null" >
        #{question3,jdbcType=VARCHAR},
      </if>
      <if test="answer3 != null" >
        #{answer3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.shijinshi.fabricmanager.dao.entity.Secret" >
    update secret
    <set >
      <if test="question1 != null" >
        question1 = #{question1,jdbcType=VARCHAR},
      </if>
      <if test="answer1 != null" >
        answer1 = #{answer1,jdbcType=VARCHAR},
      </if>
      <if test="question2 != null" >
        question2 = #{question2,jdbcType=VARCHAR},
      </if>
      <if test="answer2 != null" >
        answer2 = #{answer2,jdbcType=VARCHAR},
      </if>
      <if test="question3 != null" >
        question3 = #{question3,jdbcType=VARCHAR},
      </if>
      <if test="answer3 != null" >
        answer3 = #{answer3,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.shijinshi.fabricmanager.dao.entity.Secret" >
    update secret
    set question1 = #{question1,jdbcType=VARCHAR},
      answer1 = #{answer1,jdbcType=VARCHAR},
      question2 = #{question2,jdbcType=VARCHAR},
      answer2 = #{answer2,jdbcType=VARCHAR},
      question3 = #{question3,jdbcType=VARCHAR},
      answer3 = #{answer3,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>